.user-component__column,
.user-component{
    display: flexz;
    justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__avatar{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 10px;
}

.user-component__title{
    font-weight: 600;
    font-size: 20px;
}

.user-component__subtitle{
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.7);
}

.friends-screen{
    padding: 20px var(--horizontal-space);
}

.friends-display-link{
    padding: 20px 0px;
    display: block;
    color: black;
    background-color: #fafafa;
    text-align: center;
    border-radius: 10px;
}

.friends-display-link i{
    color: rgba(0, 0, 0, 0.4);
}

.friends-screen__channel{
    border-top: 3px solid rgba(0, 0, 0, 0.4);
    margin-top: 10px;
}

.friends-screen__channel-header{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.user-component__title-not-bold{
    font-weight: 400;
}


.user-component__add{
    position: absolute;
    right : 0;
    margin-right: 30px;
}